  .div-admin-cand-output {
    /* width: 80%; */
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 68px;
    display: flex;
}

.admin-cand-main{
  width: 100%;
  margin-left: 15px;
}

.admin-cand-result {
    font-size: 1.9rem;
    margin-bottom: 20px;
    margin-left: 400px;
}

.unordered-admin-cand {
    list-style-type: none;
    padding: 0;
    line-height: 40px;
}

.ordered-admin-cand {
    margin-bottom: 20px;
}

.output-question,
.output-user-code,
.output-code-output,
.output-language {
    font-weight: bold;
    font-size: 22px;
}

.div-feedback{
  display: flex;
}

.admin-feedback{
  font-size: 20px;
  margin-top: 10px;
  margin-left: 500px;
}

.feedback-textarea {
    width: 40%;
    height: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-feedback-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 530px;
}

.submit-feedback-btn:hover {
    background-color: #0056b3;
}
