.candidate-password {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 78px;
  }

  .cand-pass-main-content {
    flex: 2;
  }
  
  .cand-pass-h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 400px;
  }
  
  .cand-change-pass-form {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 480px;
    margin-left: 300px;
    border: 1px solid #8a8383;
    border-radius: 30px;
    margin-bottom: 10px;
  }
  
  .cand-label-pass {
    margin-bottom: 8px;
    font-size: 20px;
    margin-left: 40px;
  }
  
  .cand-input-pass {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #7e7b7b;
    border-radius: 4px;
    margin-top: 15px;
    max-width: 530px;
    margin-left: 300px;
  }
  
  .cand-button-change-pass {
    padding: 8px 16px;
    background-color: #007bff;
    color: #000;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 220px;
    margin-left: 220px;
    font-size: 20px;
  }
  
  .cand-button-change-pass:hover {
    background-color: #16fa29;
  }
  