.result-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    margin-top: 68px;
  }
  
  .result-h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .button-result {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .button-result:hover {
    background-color: #3e8e41;
  }

  .candidate-sidebar{
    margin-left: -20px;
    margin-top: -20px;
  }