  .recruiter-sidebar {
    height: 100%;
    margin-top: -43px;
    margin-left: -20px;
    margin-right: 50px;
    background-color: #f0f0f0;
    width: 250px;
    padding: 20px;
    max-height: 100%;
  }
  
  .admin-h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    margin-left: 30px;
    margin-top: 20px;
  }
  
  .admin-picture {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 50px;
  }
  
  .recruiter-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 30px;
    margin-top: -10px;
  }
  
  .recruiter-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    height: 50px;
    border-radius: 30px;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }
  
  .recruiter-links a:hover {
    background-color: #17c520;
  }

  .logout-button {
    background-color: #007bff;
    border: none;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 170px;
    margin-left: 20px;
    margin-top: 10px;
  }
  
  .logout-button:hover {
    background-color: #0dee3e;
  }

  .icon-dashboard{
    margin-right: 10px;
    font-size: 25px;
  }

  .icon-question{
    margin-right: 10px;
    font-size: 25px;
  }

  .icon-password,
  .icon-result{
    margin-right: 10px;
    font-size: 25px;
  }

  .icon-logout{
    margin-right: 10px;
    font-size: 25px;
  }