 .navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 45px;
}


.navbar-image {
  width: 150px;
  height: 60px;
  border-radius: 5px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.navbar-links {
  gap: 20px;
  text-decoration: none;
}
.navbar-home{
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: bold;
  /* margin-right: -10%; */
}
.navbar-home:hover{
  color: #0fe43d;
}
.navbar-about{
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: bold;
  /* margin-right: -10%; */
}

.navbar-about:hover{
  color: #0fe43d;
}

.navbar-quest{
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: bold;
  /* margin-right: -15%; */
}

.navbar-quest:hover{
  color: #0fe43d;
}

.navbar-signup{
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: bold;
  /* margin-right: -18%; */
}

.navbar-signup:hover{
  color: #0fe43d;
}

.navbar-links a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.navbar-links a:hover {
  color: #007bff;
}

.blue-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50px;
  margin-right: 25px;
  font-weight: bold;
}

.blue-button:hover {
  background-color: #0fe43d; 
}