<<<<<<< HEAD
.nav {
  background-color:rgba(110, 107, 107, 0.7);
  color: #0d28c1;
  padding: 10px 20px;
=======
 .navbar-container {
>>>>>>> fd4a71afb4314d43ff4b1d2fa3ec31250ec4c606
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 45px;
}

<<<<<<< HEAD
.logo {
  font-size: 1.4rem;
  font-weight: bold;
  color: #3e1fd6;
}


.nav-menu {
  list-style-type: none;
  padding: 4px;
  margin: 10px;
  display: flex;
  margin-left: auto;
 
  
}

.nav-menu li {
  margin-right: 70px;

}

.nav-menu li:last-child {
  margin-right:10px;
  
}

.nav-menu li a {
  text-decoration: none;
  color: #080808;
  font-size: 17px;
  font-weight: bold;
  transition: color 0.3s

}

.nav-menu li a:hover {
  color: #4aede7;
}

.nav-buttons .demo-button {
  background-color: #070b0e;
  color: hsl(165, 18%, 96%);
=======

.navbar-image {
  width: 150px;
  height: 60px;
  border-radius: 5px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.navbar-links {
  gap: 20px;
  text-decoration: none;
}
.navbar-home{
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: bold;
  /* margin-right: -10%; */
}
.navbar-home:hover{
  color: #0fe43d;
}
.navbar-about{
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: bold;
  /* margin-right: -10%; */
}

.navbar-about:hover{
  color: #0fe43d;
}

.navbar-quest{
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: bold;
  /* margin-right: -15%; */
}

.navbar-quest:hover{
  color: #0fe43d;
}

.navbar-signup{
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: bold;
  /* margin-right: -18%; */
}

.navbar-signup:hover{
  color: #0fe43d;
}

.navbar-links a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.navbar-links a:hover {
  color: #007bff;
}

.blue-button {
  background-color: #007bff;
  color: #fff;
>>>>>>> fd4a71afb4314d43ff4b1d2fa3ec31250ec4c606
  border: none;
  padding: 10px 20px;
  cursor: pointer;
<<<<<<< HEAD
  transition: background-color 0.3s;
  font-weight: bold;
  text-decoration: none;
}

.nav-buttons .demo-button:hover {
  background-color: #0e5aa7;
=======
  font-size: 20px;
  border-radius: 50px;
  margin-right: 25px;
  font-weight: bold;
}

.blue-button:hover {
  background-color: #0fe43d; 
>>>>>>> fd4a71afb4314d43ff4b1d2fa3ec31250ec4c606
}








/* 

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-image {
  width: 150px;
  height: 80px;
  border-radius: 5px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-links a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.navbar-links a:hover {
  color: #007bff;
}

.blue-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50px;
}

.blue-button:hover {
  background-color: #0fe43d;
} */
