.header {
  text-align: center;
  margin-top: 100px;
}

.text-container {
  margin-top: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.card {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
}

.feature1-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.feature1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
}

.feature1-image,
.feature-image,
.f2-image,
.image-board {
  flex: 1;
  margin-left: 20px;
  border-radius: 10px;
}

.main-text,
.feature1-content,
.feature-content,
.f2-content {
  flex: 1;
}

.board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.card {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
}

.blue-text {
  color: #007bff;
}

<<<<<<< HEAD
.demo-button-container {
  text-align: center;
  margin-top: 00px;
}

.bb-button {
  display: inline-block;
  padding: 10px 2cap;
  background-color: hsl(233, 83%, 43%);
  color: #e9e9f0;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  
}

.bb-button:hover {
  background-color: #070709;
}

@media (min-width: 600px) {
  .bb-button {
    width: 200px;
  }
}

=======
.blue-text-1 {
  color: #1e4cbf;
}

.blue-text-3 {
  color: #002d9c;
}
>>>>>>> fd4a71afb4314d43ff4b1d2fa3ec31250ec4c606
