.header {
  text-align: center;
  margin-top: 100px;
}

.text-container {
  margin-top: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.card {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
}

.feature1-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.feature1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
}

.feature1-image,
.feature-image,
.f2-image,
.image-board {
  flex: 1;
  margin-left: 20px;
  border-radius: 10px;
}

.main-text,
.feature1-content,
.feature-content,
.f2-content {
  flex: 1;
}

.board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.card {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
}

.blue-text {
  color: #007bff;
}

.blue-text-1 {
  color: #1e4cbf;
}

.blue-text-3 {
  color: #002d9c;
}
