<div
  class="flex h-full snap-mandatory overflow-y-hidden overflow-x-scroll scroll-smooth rounded-lg overflow-hidden !overflow-x-hidden [overflow:-moz-scrollbars-none] [scrollbar-width:none] [&amp;::-webkit-scrollbar]:[-webkit-appearance:none !important] [&amp;::-webkit-scrollbar]:!hidden [&amp;::-webkit-scrollbar]:!h-0 [&amp;::-webkit-scrollbar]:!w-0 [&amp;::-webkit-scrollbar]:!bg-transparent"
>
  <div
    class="w-full flex-shrink-0 transform cursor-grab snap-center"
    data-active="false"
    data-testid="carousel-item"
  >
    <div
      class="absolute left-1/2 top-1/2 w-full -translate-x-1/2 -translate-y-1/2 flex justify-center items-center"
    >
      <div
        class="py-12 flex flex-col md:flex-row items-center justify-between gap-2 h-full"
      >
        <div class="md:w-1/2">
          <h1
            class="text-5xl font-semibold mb-4 text-neutralDGrey md:w-3/4 leading-snug"
          >
            The hiring platform,<span class="text-brandPrimary leading-snug"
              >that clicks for everyone!</span
            >
          </h1>
          <p class="text-neutralDGrey text-base nb-8">
            HireSynth uses skills-based assessments to identify top talent
            quickly, saving you time and resources.
          </p>
          <button
            class="bg-brandPrimary text-white font-bold py-2 px-4 rounded hover:bg-neutralDGrey transition-all duration-300 hover:translate-y-4"
          >
            Get Started
          </button>
        </div>
        <div class="md:w-1/2">
          <img class="w-full" src="/src/assets/interview.jpg" alt="Interview" />
        </div>
      </div>
    </div>
  </div>
  <div
    class="w-full flex-shrink-0 transform cursor-grab snap-center"
    data-active="true"
    data-testid="carousel-item"
  >
    <div
      class="absolute left-1/2 top-1/2 w-full -translate-x-1/2 -translate-y-1/2 flex justify-center items-center"
    >
      <div
        class="py-12 flex flex-col md:flex-row items-center justify-between gap-2 h-full"
      >
        <div class="md:w-1/2">
          <h1
            class="text-5xl font-semibold mb-4 text-neutralDGrey md:w-3/4 leading-snug"
          >
            The hiring platform,<span class="text-brandPrimary leading-snug"
              >that clicks for everyone!</span
            >
          </h1>
          <p class="text-neutralDGrey text-base nb-8">
            HireSynth uses skills-based assessments to identify top talent
            quickly, saving you time and resources.
          </p>
          <button
            class="bg-brandPrimary text-white font-bold py-2 px-4 rounded hover:bg-neutralDGrey transition-all duration-300 hover:translate-y-4"
          >
            Get Started
          </button>
        </div>
        <div class="md:w-1/2">
          <img class="w-full" src="/src/assets/images.jpeg" alt="Second" />
        </div>
      </div>
    </div>
  </div>
  <div
    class="w-full flex-shrink-0 transform cursor-grab snap-center"
    data-active="false"
    data-testid="carousel-item"
  >
    <div
      class="absolute left-1/2 top-1/2 w-full -translate-x-1/2 -translate-y-1/2 flex justify-center items-center"
    >
      <div
        class="py-12 flex flex-col md:flex-row items-center justify-between gap-2 h-full"
      >
        <div class="md:w-1/2">
          <h1
            class="text-5xl font-semibold mb-4 text-neutralDGrey md:w-3/4 leading-snug"
          >
            The hiring platform,<span class="text-brandPrimary leading-snug"
              >that clicks for everyone!</span
            >
          </h1>
          <p class="text-neutralDGrey text-base nb-8">
            HireSynth uses skills-based assessments to identify top talent
            quickly, saving you time and resources.
          </p>
          <button
            class="bg-brandPrimary text-white font-bold py-2 px-4 rounded hover:bg-neutralDGrey transition-all duration-300 hover:translate-y-4"
          >
            Get Started
          </button>
        </div>
        <div class="md:w-1/2">
          <img
            class="w-full"
            src="/src/assets/eliott-reyna-iO2d-KYp5JU-unsplash.jpg"
            alt="Fourth"
          />
        </div>
      </div>
    </div>
  </div>
</div>
