   .hero-container {
    text-align: center;
    position: relative;
    margin-top: 66px;
  }
  
  .App-header {
    background-image: url('https://ldbw6b.webwave.dev/files/dynamicContent/sites/ldbw6b/images/en/webpage_46/lw1v6erm/element_3927/rwdMode_1/2400x700/unsplash-image.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Create a pseudo-element to overlay the background image */
  .App-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* Adjust opacity as needed */
    filter: blur(100px); /* Add blur effect */
    z-index: 1; /* Ensure it's above the background image */
  }
  
  .hero-h1,
  .hero-h3 {
    position: relative; /* Ensure text is above the overlay */
    z-index: 2; /* Ensure it's above the overlay */
  }
  
  .hero-h1 {
    font-size: 5rem;
    color: #000;
    background: transparent;
  }
  
  .hero-h3 {
    font-size: 3rem;
    background: transparent;
    color: #000;
  }
  