.pricecard-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content-flex-mtop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 1300px;
  }
  
  .box-shadow {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    max-width: 300px;
    text-align: center;
  }
  
  .topbtn {
    margin-bottom: 15px;
  }
  
  .btn3 {
    background-color: #27ae60;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 45px;
    font-weight: bold;
    cursor: pointer;
    font-size: 30px;
  }
  
  .pcar-h3 {
    color: #000;
    font-size: 30px;
  }
  
  .pcar-h1 {
    color: #000;
    font-size: 56px;
    margin-top: -30px;
  }

  .pcar-par{
    color: #000;
    font-size: 20px;
    margin-top: -30px;
  }
  
  .pcar-ul {
    padding: 5px;
    list-style-type: none;
  }
  
  .pcar-li {
    margin-bottom: 20px
  }
  
  .pcar-label {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
  }
  
  .pr-cd-par {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
  
  .pcar-btn5 {
    background-color: #27ae60;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 55px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 30px;
  }
  
  .pcar-btn5:hover {
    background-color: #1d9349;
    a{
      color: #fff;
    }
    a:hover{
      color: #fff;
    }
  }
  