.outer-div-payment{
  width: 100%;
  max-height: 100%;
  background-image: url("https://plus.unsplash.com/premium_photo-1663931932637-e30332303b71?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGJpdGNvaW58ZW58MHx8MHx8fDA%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: 68px;
}
.div-payments {
    max-width: 730px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 620px;
    margin-top: 10px;
  }
  
  .div-payments h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: -10px;
  }
  
  .div-inputs {
    margin-bottom: 20px;
    margin-top: -5px;
    line-height: 40px;
  }
  
  .div-inputs label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
  }
  
  .div-inputs input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #747171;
    box-sizing: border-box;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: -0px;
  }
  
  .div-inputs input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .div-inputs input[type="text"]::placeholder {
    color: #868383;
    font-size: 19px;
  }
  
  .div-inputs input[type="text"].card-number,
  .div-inputs input[type="text"].card-holder,
  .div-inputs input[type="text"].amount {
    font-family: "Courier New", Courier, monospace;
    width: 720px;
  }
  
  .div-inputs .div-expiration-cvv {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .div-inputs .div-country-city {
    display: flex;
    justify-content: space-between;
  }
  
  .div-inputs input[type="text"].expiration-date,
  .div-inputs input[type="text"].cvv,
  .div-inputs input[type="text"].country,
  .div-inputs input[type="text"].city {
    width: 450px;
    margin-top: 10px;
  }
  
  .div-inputs input[type="text"].zip-code {
    width: 100%;
  }
  
  .label-label{
    margin-top: 16px;
  }

  .cvv-label-label{
    margin-left: 1000px;
  }
  
  .payment-icon{
    margin-right: 2px;
    color: #000;
    font-size: 25px;
  }

  .butt-payment{
    font-size: 20px;
    margin-left: 270px;
    border-radius: 20px;
    height: 45px;
    width: 150px;
    background-color: #007bff;
    cursor: pointer;
    border: none;
    margin-top: 15px;
    color: #fff;
  }

  .butt-payment:hover{
    background-color: #10e95f;
  }