.price-container{
    margin-top: 70px;
    text-align: center;
    display: flex;
    width: 100%;
}

.price-h1{
    font-size: 46px;
    color: #000;
}

.price-par{
    font-size: 20px;
    color: #000;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}